## Q1. A 


$Entropy(D) = -\sum_{i}^{n} p_i \log_2 p_i$

| Trường hợp | Phân phối | Entropy |
|------------|-----------|---------|
| a) Lớp 1 = Lớp 2 | $p_1 = 0.5, p_2 = 0.5$ | $-0.5 \log_2 0.5 - 0.5 \log_2 0.5 = 1$ |
| b) Lớp 1 = 3 $\times$ Lớp 2 | $p_1 = 0.75, p_2 = 0.25$ | $-0.75 \log_2 0.75 - 0.25 \log_2 0.25 \approx 0.811$ |
| c) Lớp 1 = 2 $\times$ Lớp 2 | $p_1 = 0.6667, p_2 = 0.3333$ | $-0.6667 \log_2 0.6667 - 0.3333 \log_2 0.3333 \approx 0.918$ |
| d) Lớp 1 = 4 $\times$ Lớp 2 | $p_1 = 0.8, p_2 = 0.2$ | $-0.8 \log_2 0.8 - 0.2 \log_2 0.2 \approx 0.722$ |

### Bảng dữ liệu cho bài toán Classification
| Age | Likes English | Likes AI | Raise Salary |
|-----|---------------|----------|--------------|
| 23 | 0 | 0 | 0 |
| 25 | 1 | 1 | 0 |
| 27 | 1 | 0 | 1 |
| 29 | 0 | 1 | 1 |
| 29 | 0 | 0 | 0 |

## Q2. C
$\text{Gini}(\text{'Raise Salary'}) = 1 - (p_{\text{'Raise Salary'} = 0})^2 - (p_{\text{'Raise Salary'} = 1})^2$

$= 1 - \left(\frac{3}{5}\right)^2 - \left(\frac{2}{5}\right)^2 = 0.48$

## Q3. D
|Like English | Raise Salary = 0 | Raise Salary = 1 | Total |
|-------------|-------------------|-------------------|-------|
| 0 | 2 | 1 | 3 |
| 1 | 1 | 1 | 2 |
| Total | 3 | 2 | 5 |

- $Gini(English = 0) = 1 - (2/3)^2 - (1/3)^2 = 0.444$
- $Gini(English = 1) = 1 - (1/2)^2 - (1/2)^2 = 0.5$
- $Gini(English) = 3/5 * 0.444 + 2/5 * 0.5 = 0.47$

## Q4. C
| Age <= 26 | Raise Salary = 0 | Raise Salary = 1 | Total |
|-----------|-------------------|-------------------|-------|
| 0 | 2 | 0 | 2 |
| 1 | 1 | 2 | 3 |
| Total | 3 | 2 | 5 |

- $Gini(Age <= 26) = 1 - (2/2)^2 - (0/2)^2 = 0$
- $Gini(Age > 26) = 1 - (1/3)^2 - (2/3)^2 = 0.444$
- $Gini(Age) = 2/5 * 0 + 3/5 * 0.444 = 0.266$

## Q5. B
$Entropy('Raise Salary') = -\left(\frac{3}{5}\right) \log_2 \left(\frac{3}{5}\right) - \left(\frac{2}{5}\right) \log_2 \left(\frac{2}{5}\right) \approx 0.971$

## Q6. C 
|Like English | Raise Salary = 0 | Raise Salary = 1 | Total |
|-------------|-------------------|-------------------|-------|
| 0 | 2 | 1 | 3 |
| 1 | 1 | 1 | 2 |
| Total | 3 | 2 | 5 |

- $Entropy(English = 0) = -\left(\frac{2}{3}\right) \log_2 \left(\frac{2}{3}\right) - \left(\frac{1}{3}\right) \log_2 \left(\frac{1}{3}\right) \approx 0.918$
- $Entropy(English = 1) = -\left(\frac{1}{2}\right) \log_2 \left(\frac{1}{2}\right) - \left(\frac{1}{2}\right) \log_2 \left(\frac{1}{2}\right) = 1$
- $Entropy(Raise Salary | English) = 3/5 * 0.918 + 2/5 * 1 = 0.9508$
- Information Gain: $Gain(Raise Salary | English) = Entropy(Raise Salary) - Entropy(Raise Salary | English) = 0.971 - 0.9508 = 0.0202$

| Age | Likes English | Likes AI | Salary |
|-----|---------------|----------|--------|
| 23 | 0 | 0 | 200 |
| 25 | 1 | 1 | 400 |
| 27 | 1 | 0 | 300 | 
| 29 | 0 | 1 | 500 |
| 29 | 0 | 0 | 400 |

## Q9. A
$ SSE(Likes AI = 0) = \frac{1}{3} * \left[ (200 - 300)^2 + (300 - 300)^2 + (400 - 300)^2 \right] = 6666.67$

$ SSE(Likes AI = 1) = \frac{1}{2} * \left[ (400 - 450)^2 + (500 - 450)^2 \right] = 2500$

$ SSE(Likes AI) = 6666.67 + 2500 = 9166.67$

## Q10. C
$ SSE(Age <= 24) = \frac{1}{1} * (200 - 200)^2 = 0$

$ SSE(Age > 24) = \frac{1}{4} * \left[ (400 - 400)^2 + (300 - 400)^2 + (500 - 400)^2 + (400 - 400)^2 \right] = 5000$

$ SSE(Age) = 0 + 5000 = 5000$